:root{
    --pink:#e84393;

}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}




html{
    font-size: 90%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    overflow-x: hidden;
}

section{
    padding: 9rem 9%;
}

header {
    position: fixed;
    top: 0; left:0; right:0;
    background: #fff;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    color: #333;
    font-weight: bolder;
    font-size: 3rem;
}

header .navbar a{
    font-size: 1rem;
    padding:0 1.5rem;
    color: #666;
}

header .top-icon a{
    margin-left: 1rem;
    font-size: 1rem;
}

header .fa-bars{
    border-radius: 5px;
    padding: 1rem 1rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
}
/* banner */

.banner {
    background-color: rgba(193, 220, 220, 1);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.flex_column_banner {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 40px;
}

.flex__row {
    display: flex;
}

.flex__row__banner {
    display: flex;
    justify-content: space-between;

}

.text__banner {
    font-size: 64px;
    font-weight: 800;
}

.text__banner--number {
    font-weight: 800;
    font-size: 32px;

}

.text__banner--text_under_number {
    font-weight: 800;
    font-size: 18px;
}

.p__format {
    margin: 0px;
    padding: 0px;
}

.div_input {
    width: 100%;
    position: relative;
}

.input_banner {
    height: 40px;
    width: 100%;
    border-radius: 12px;
    position: absolute;
}

.find_icon {
    position: absolute;
    right: 0;
    background-color: rgba(193, 220, 220, 1);
    padding: 8px;
    margin: 5px;
    border-radius: 12px;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: var(--pink);
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.products .product{
    height:400px; 
    width: 300px;
}

.products .product h5{
    font-size: 45px;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: #C1DCDC;
}


.about .content{
    display: flex;
    justify-content: space-between;
    margin: 15px;
    text-align: center;
}

.about .content .box{
    height:400px; 
    width: 300px;
    display: block;
    font-size: 1rem;
    padding: 1rem 0;
}

.about .content .box h3{
    color: #333;
    font-size: 1.5rem;
    padding: 1rem 0;
}



.review .box-container{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.review .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: 1.5rem;
    padding:3rem 2rem;
    position: relative;
    background-color: #C1DCDC;
}

.footer{
    background-color: #C1DCDC;
    
}

.footer .container{
    display: flex;
    justify-content: space-between;
}

.footer .container .script {
    flex:1 1 25rem;
    margin-left: 30px;
    padding: 1rem 0;
}

.footer .container .script p{
    
    margin-top: 100px;
}

.footer .container .script h3{
    color: #333;
    font-size: 1.5rem;
    padding: 1rem 0;
}


.footer .container .content{
    display: flex;
    justify-content: space-between;
}

.footer .container .content .box {
    flex:1 1 25rem;
    margin: 10px;
}

.footer .container .content .box h3{
    color: #333;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .container .content .box a{
    display: block;
    color: #666;
    font-size: 1rem;
    padding: 1rem 0;
}

































@media (max-width:900px){

    html{
        font-size: 55%;
    }

    header{
        padding: 0.5rem;
    }
}


@media (max-width:768px){
    header .navbar{
        position: absolute;
        top:100%; left: 0; right: 0;
        background: #eee; 
        border-top: .1rem solid rgba(0,0,0,.1) ;
    }

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;
    }
}

@media (max-width:400px){

    html{
        font-size: 45%;
    }

   
}
